*{
    padding: 0;margin: 0;box-sizing: border-box;
}
body{
    background-image: url(./Assets/bg.jpg);
    background-size: cover;
    
}
#main-component{
    /* border-radius: 10vh; */
    /* flex-direction: column; */
    height: 100%;
    width: 90%;
    display: flex;
  margin: 5vh 5vw;
}
#top{
    border-radius: 5vh;
    font-size: 2rem;
    font-weight: 800;
    /* color: white; */
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 88vh;
    background-color: #023047;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}
#bottom{
    display: flex;
    justify-content: center;
    border-radius: 5vh;
    align-items: center;
    /* height: 40vh; */
    font-weight: 700;
    /* color: rgb(230, 214, 185); */
    width: 50%;
    background-color: #780000;
}
#pass-div{
    gap: 2vh;
    display: flex;
    flex-direction: column;
    width: 44%;
}
#reset-div{
    border-radius: 3vh;
    background-color: #cfbaf0;
    text-align: center;
    gap: 2vh;
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    padding: 1.5vh;
}
button{
    padding: 2vh;
    width: 20vw;
    border-radius: 3vh;
}
button:hover{
    cursor: pointer;
}
#reset-div h2{
    margin-bottom: 2vh;
}